.canvas {
  display: block;
  image-rendering: pixelated;
  opacity: 0;
  transition: opacity 0.15s;
}

.canvas[data-ready='true'] {
  opacity: 1;
}

.canvas[data-size='small'] {
  width: 32px;
  height: 32px;
}

.canvas[data-size='large'] {
  width: 48px;
  height: 48px;
}

